<html>

<head>
    <meta charset="UTF-8">
    <title>Tianyi System</title>
    <link rel="stylesheet" href="css/main.css">
</head>

<body>
    <header>
        <a id="logo" href="http://localhost:8000"><div id="logo-img"></div></a>
        <nav class="navbar">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" href="http://localhost:8000/logout">Log out</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://localhost:8000/upload">Upload</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://localhost:8000/profile">Me</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://localhost:8000">Home</a>
                </li>
            </ul>
        </nav>
        <hr id="headercut">
    </header>

    <section>
        <h1>Welcome back, <%= username %>.</h1> 
        <p>We are the kindred here.</p>
    </section>

    <ul class= "gallery">
        <% for(const image in images) { %>
            <li class= "item">
                <img class="individual_show" alt="<%= images[image].imgName %>" src="<%= images[image].imgUrl %>"> </img>
                <p class="imgDate"> Date: <%= images[image].imgDate %></p>
                <p class="like"> Like: <%= images[image].imgLikes %> </p>
                <a class="toComment-profile" href="http://localhost:8000/<%= images[image].imgId %>/comments">Comments</a>
            </li>
        <% } %>
        </ul>
</body>
</html>